name: CI

on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - '*'

jobs:
  build:
    name: "Node ${{ matrix.node-version }}"

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: install dependencies
      run: npm ci
    - run: npm test

  release-it-compat:
    name: "release-it@${{ matrix.release-it-version }}"

    runs-on: ubuntu-latest

    strategy:
      matrix:
        release-it-version: ["14.0.0", "14.1.0", "14.2.0", "15.2.0"]

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: 14
    - name: install dependencies
      run: npm ci
    - run: npm install --saveDev release-it@${{ matrix.release-it-version }}
    - run: npm test
